<?xml version='1.0' encoding="utf-8"?> 
<config>	
	<model>
		<modelfile>/home/matthias/Dropbox/Documents/University/BT-Master/MA-Thesis/Program/workspace/LightPropagation/bin/lnx/x86_64/Release/models/model4/model.obj</modelfile>
		<unit>cm</unit>
		<PixelPerUnit>1</PixelPerUnit>
		<dimensions>
			<x>23.6</x>
			<y>23.6</y>
			<z>23.6</z>
			<R>11.8</R>
		</dimensions>
		<tissueList>
			<tissue>
				<ID>0</ID>				
				<name>outside</name>				
				<density>1</density>
				<anisotropy>0</anisotropy>
				<mua>0</mua>
				<mus>0</mus>
				<refraction>1</refraction>
			</tissue>
			<tissue>
				<ID>1</ID>				
				<name>Maternal_Tissue_MT</name>				
				<density>2</density>
				<anisotropy>0.8</anisotropy>
				<mua>0.08</mua>
				<mus>5</mus>
				<refraction>1.3</refraction>
			</tissue>
			<tissue>
				<ID>2</ID>				
				<name>Amniotic_Fluid_AF</name>				
				<density>2</density>
				<anisotropy>0.85</anisotropy>
				<mua>0.02</mua>
				<mus>0.1</mus>
				<refraction>1.3</refraction>
			</tissue>
			<tissue>
				<ID>3</ID>				
				<name>Fetal_Tissue_FT</name>				
				<density>2</density>
				<anisotropy>0.8</anisotropy>
				<mua>0.18</mua>
				<mus>14</mus>
				<refraction>1.3</refraction>
			</tissue>
			<tissue>
				<ID>4</ID>				
				<name>FetalSkull_FS</name>				
				<density>2</density>
				<anisotropy>0.935</anisotropy>
				<mua>0.7</mua>
				<mus>10</mus>
				<refraction>1.564</refraction>
			</tissue>
			<tissue>
				<ID>5</ID>				
				<name>Fetal_Brain_FB</name>				
				<density>2</density>
				<anisotropy>0.978</anisotropy>
				<mua>0.2</mua>
				<mus>9.6</mus>
				<refraction>1.4</refraction>
			</tissue>
		</tissueList>
	</model>
	<analyse>
		<boundaries>
			<surfName>Rsurf</surfName>
			<surfName>Tsurf</surfName>
		</boundaries>	
	</analyse>
	<Emittermodel>
		<file>/home/matthias/Dropbox/Documents/University/BT-Master/MA-Thesis/Program/workspace/LightPropagation/bin/lnx/x86_64/Release/models/model4/emitter.txt</file>
		<position>
			<x>0</x>
			<y>0</y>
			<z>11.8</z>
		</position>
		<distance>0.2</distance>
		<heading>
			<x>0</x>
			<y>0</y>
			<z>-1</z>
		</heading>
	</Emittermodel>
	<arrowscalefactor>10</arrowscalefactor>
	<view>
		<Azimuth>30</Azimuth>
		<Elevation>0</Elevation>
		<Roll>0</Roll>
	</view>
	<SimulationParams>
		<numberOfPhotons>122880</numberOfPhotons>
		<numPhotonsInteractions>80</numPhotonsInteractions>
		<chance>0.1</chance>
		<weightThreshold>0.0001</weightThreshold>
	</SimulationParams>
	<saveLogFiles>0</saveLogFiles>
	<Logs>
		<saveLogFiles>1</saveLogFiles>
		<filenames>
			<surface>SurfRxy.txt</surface>
			<fetal>FetalRxy.txt</fetal>
			<transmission>TransRxy.txt</transmission>
			<absorbtionXZ>AbsorbtionArz.txt</absorbtionXZ>
			<absorbtionYZ>FluencePrz.txt</absorbtionYZ>
		</filenames>
		<fileDims>
			<x>240</x>
			<y>240</y>
			<z>240</z>
			<R>240</R>
		</fileDims>
		<fetalID>3</fetalID>
		<scale>Log10</scale>
		<coordsystem>radial</coordsystem>
		<colormap>c2w</colormap>
		<DetectionGrid>
			<x>0.02</x>
			<y>0.02</y>
			<z>0.02</z>
			<r>0.02</r>
			<phi>1</phi>
			<rho>1</rho>
		</DetectionGrid>
	</Logs>
	<saveDir>/home/matthias/Dropbox/Documents/University/BT-Master/MA-Thesis/Program/workspace/LightPropagation/bin/lnx/x86_64/Release/models/model4/results/122880_2/</saveDir>
</config>


